<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Notepad.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Notepad.Properties.Settings>
            <setting name="WindowHeight" serializeAs="String">
                <value>480</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>640</value>
            </setting>
            <setting name="TextFont" serializeAs="String">
                <value>Consolas, 11.25pt</value>
            </setting>
            <setting name="StatusStripVisiblity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextWrapping" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpellChecking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpellCheckDictonary" serializeAs="String">
                <value>ru-RU</value>
            </setting>
            <setting name="Параметр" serializeAs="String">
                <value />
            </setting>
        </Notepad.Properties.Settings>
    </userSettings>
</configuration>